@import url(style/body.css);
@import url(style/cabecadas.css);
@import url(style/footer.css);

:root{
  --fonte-princ:"Hermeneus One";
  --vermelho-degrade:linear-gradient(#8D0000 100%, #680000 52%)
}
body{
  font-family: var(--fonte-princ);
  background-color: var(--vermelho-degrade);
}
